# Static resource typing
github "mac-cain13/R.swift.Library" "swift3"

# Utilities collection
github "alexcurylo/ScreamingParty" "develop"

# Logging
#github "SwiftyBeaver/SwiftyBeaver" "swift3"

# Markdown processor for acknowledge.swift script
#github "kristopherjohnson/Markingbird" "HEAD"
