//
// target_PoseGalleryTests.xcconfig
//
// Copyright (c) 2014 Trollwerks Inc. All rights reserved.
//

//#include "Pods/Pods.xcconfig"

//PRODUCT_NAME = $(TARGET_NAME)

// note that this will pick up the Project settings in $(inherited)
//GCC_PREPROCESSOR_DEFINITIONS = $(inherited) POSESPRO=1

// might as well just set these in build panel
//TW_CODE_SIGN_IDENTITY = "iPhone Distribution: Trollwerks Inc.";
//TW_ADHOC_PROVISIONING_PROFILE = "33CF9AFA-F61A-4CC7-ACA4-D896AD1CDE90";
//TW_APPSTORE_PROVISIONING_PROFILE = "6906C5A2-C360-41C2-BE88-CADE1A43E018";
//"CODE_SIGN_IDENTITY[sdk=iphoneos*]" = "iPhone Distribution: Trollwerks Inc.";
//"PROVISIONING_PROFILE[sdk=iphoneos*]" = "6906C5A2-C360-41C2-BE88-CADE1A43E018";

//GCC_PREFIX_HEADER = PosesPro2/config/TWXProjectPrefix.pch

//INFOPLIST_FILE = PosesPro2/resources/posespro/PosesPro2-Info.plist
//INFOPLIST_PREFIX_HEADER = resources/version.h

//ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
//ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage


INFOPLIST_FILE = PoseGalleryTests/resources/Info.plist

//:configuration = Debug
//BUNDLE_LOADER = $(BUILT_PRODUCTS_DIR)/PosesPro.app/PosesPro
//:configuration = Release
//BUNDLE_LOADER = $(BUILT_PRODUCTS_DIR)/PosesPro.app/PosesPro
//TEST_HOST = $(BUNDLE_LOADER)

//FRAMEWORK_SEARCH_PATHS = $(SDKROOT)/Developer/Library/Frameworks $(inherited) $(DEVELOPER_FRAMEWORKS_DIR)
