//
// target_PoseGallery.xcconfig
// PoseGallery
//
// Copyright (c) 2015 Trollwerks Inc. All rights reserved.
//

//#include "Pods/Pods.xcconfig"

// note that this will pick up the Project settings in $(inherited)
//GCC_PREPROCESSOR_DEFINITIONS = $(inherited) POSESPRO=1

// might as well just set these in build panel
//TW_CODE_SIGN_IDENTITY = "iPhone Distribution: Trollwerks Inc.";
//TW_ADHOC_PROVISIONING_PROFILE = "33CF9AFA-F61A-4CC7-ACA4-D896AD1CDE90";
//TW_APPSTORE_PROVISIONING_PROFILE = "6906C5A2-C360-41C2-BE88-CADE1A43E018";
//"CODE_SIGN_IDENTITY[sdk=iphoneos*]" = "iPhone Distribution: Trollwerks Inc.";
//"PROVISIONING_PROFILE[sdk=iphoneos*]" = "6906C5A2-C360-41C2-BE88-CADE1A43E018";

//GCC_PREFIX_HEADER = PosesPro2/config/TWXProjectPrefix.pch

INFOPLIST_FILE = PoseGallery/resources/Info.plist
//INFOPLIST_PREFIX_HEADER = resources/version.h

//ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
//ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage

// 1 = iPhone; 2 = iPad; 1,2 = iPhone/iPad
//TARGETED_DEVICE_FAMILY = 1,2

PRODUCT_NAME = $(TARGET_NAME)

// things that should be set in brand xcconfig

BRAND_NAME = unbranded
BRAND_BUNDLE_ID = unbranded
BRAND_VERSION = 0.0

#include "../PoseGallery/resources/branded/brand_PoseGallery.xcconfig"

// for simultaneous install of each configuration

CONFIG_ID_SUFFIX = $(CONFIG_ID_SUFFIX_$(CONFIGURATION))
CONFIG_ID_SUFFIX_Debug = .debug
CONFIG_ID_SUFFIX_Adhoc = .adhoc
CONFIG_ID_SUFFIX_Release =

CONFIG_NAME_SUFFIX = $(CONFIG_NAME_SUFFIX_$(CONFIGURATION))
CONFIG_NAME_SUFFIX_Debug = ∆
CONFIG_NAME_SUFFIX_Adhoc = ß
CONFIG_NAME_SUFFIX_Release =

BUILT_NAME = $(BRAND_NAME)$(CONFIG_NAME_SUFFIX)
BUILT_BUNDLE_ID = $(BRAND_BUNDLE_ID)$(CONFIG_ID_SUFFIX)
BUILT_VERSION = $(BRAND_VERSION)
