//
// target_PoseGallery.xcconfig
//
// Copyright (c) 2014 Trollwerks Inc. All rights reserved.
//

//#include "Pods/Pods.xcconfig"

//PRODUCT_NAME = PosesPro

// note that this will pick up the Project settings in $(inherited)
//GCC_PREPROCESSOR_DEFINITIONS = $(inherited) POSESPRO=1

// might as well just set these in build panel
//TW_CODE_SIGN_IDENTITY = "iPhone Distribution: Trollwerks Inc.";
//TW_ADHOC_PROVISIONING_PROFILE = "33CF9AFA-F61A-4CC7-ACA4-D896AD1CDE90";
//TW_APPSTORE_PROVISIONING_PROFILE = "6906C5A2-C360-41C2-BE88-CADE1A43E018";
//"CODE_SIGN_IDENTITY[sdk=iphoneos*]" = "iPhone Distribution: Trollwerks Inc.";
//"PROVISIONING_PROFILE[sdk=iphoneos*]" = "6906C5A2-C360-41C2-BE88-CADE1A43E018";

//GCC_PREFIX_HEADER = PosesPro2/config/TWXProjectPrefix.pch

INFOPLIST_FILE = PoseGallery/resources/Info.plist
//INFOPLIST_PREFIX_HEADER = resources/version.h

//ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
//ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage

// 1 = iPhone; 2 = iPad; 1,2 = iPhone/iPad
//TARGETED_DEVICE_FAMILY = 1,2
