//
// brand_PoseGallery.xcconfig
// PoseGallery
//
// Copyright © 2016 Trollwerks Inc. All rights reserved.
//

// base branding

BRAND_NAME = Poses Pro
BRAND_BUNDLE_ID = com.trollwerks.posegallery
BRAND_VERSION = 3.0

// service access identifiers

// https://fabric.io/settings/organizations
FABRIC_API_KEY = REDACTED
FABRIC_BUILD_SECRET = REDACTED

SWIFTYBEAVER_APPID = REDACTED
SWIFTYBEAVER_APPSECRET = REDACTED
SWIFTYBEAVER_ENCRYPTIONKEY = REDACTED
