#
# Cartfile
# PoseGallery
#
# Copyright © 2016 Trollwerks Inc. All rights reserved.
#

# JSQCoreDataKit: Core Data
# "xcodebuild timed out while trying to read JSQCoreDataKit.xcodeproj"
#github "jessesquires/JSQCoreDataKit" "swift3.0"

# R.swift.Library: Static resource typing
github "mac-cain13/R.swift.Library" "swift3"

# ScreamingParty: Utilities collection
github "alexcurylo/ScreamingParty" "develop"

# SwiftyBeaver: logging
# apparently not 8.0b2/Swift 3 compatible?
#github "SwiftyBeaver/SwiftyBeaver" "swift3"
