#
# Cartfile
# PoseGallery
#
# Copyright © 2016 Trollwerks Inc. All rights reserved.
#

# JSQCoreDataKit: Core Data
github "jessesquires/JSQCoreDataKit"

# Swiftalytics: view analytics
github "MrAlek/Swiftalytics" >= 0.1.1

# XCGLogger: logging
github "DaveWoodCom/XCGLogger" >= 2.0
